// block section settings
.section {
   background-color: #fff;
   padding: 100px 24px;
}
// blog section style
.blog {
// blog wrapper width and centered
    &__wrapper {
      max-width: 1280px;
      margin: auto;  
    }
// blog title h2
    &__title {
        font-size: 44px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        color: #000;
        text-transform: uppercase;
    // settings for line after h2
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 80px;

    // horizontal line after h2
        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #000;
            display: inline-block;
        }
       }

// caption under carousel
    &__caption {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.2;
    }   
      
}