.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 31px;
    margin-bottom: 45px;

    // image dimensions
    &__picture {
        width: 390px;
        height: 421px;
    }
    // carousel pagination
    &__pagination {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    
}