@use '../utils/vars';

@import "../components/blog";
@import "../components/carousel";



/* body of page */
body * {
    letter-spacing: vars.$letter-spacing-medium;
    }

body {
    background-color: vars.$color-white;
    color: vars.$color-text;
    font-size: 16px;
    font-family: vars.$font-family;
}
/* no underlined link */
a {
    text-decoration: none;   
}
/* no bullet lists */
li {
    list-style-type: none;
}


/* transition for all svg images */
path { 
   transition: fill .25s cubic-bezier(0.4, 0, 0.2, 1); 
}
/* max width of page */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: vars.$padding-zero;
}




